<div>
    <div class="container-fluid  p-3">
        <h1 class="text-left"><b>Tweet Savers</b></h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Twitter"
                        aria-label="Search Twitter" aria-describedby="basic-addon2">                   
                        <button type="button"><mat-icon>search</mat-icon> </button>
                    
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
