<div>
    <div class="container-fluid  p-3">
        <h1 class="text-left"><b>Tweet Savers</b></h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Twitter"
                        aria-label="Search Twitter" aria-describedby="basic-addon2">                   
                        <button type="button"><mat-icon>search</mat-icon> </button>
                    
                </div>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-md-5 border border-primary">
                <div class="example-container">
                    <h2>To do</h2>                  
                    <div cdkDropList id="list-one"  [cdkDropListData]="todo"
                      [cdkDropListConnectedTo]="['list-two']"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                    </div>
                  </div>
            </div>
            <div class="col-md-5 ml-auto border border-primary">
                <div class="example-container">
                    <h2>Done</h2>                  
                    <div id="list-two" cdkDropList
                        [cdkDropListData]="done"
                      [cdkDropListConnectedTo]="['list-one']"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                    </div>
                  </div>
            </div>
        </div>    
    </div>
</div>
<router-outlet></router-outlet>