<div>
    <div class="container-fluid  p-3">
        <h1 class="text-left"><b>Tweet Savers</b></h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Twitter"
                        aria-label="Search Twitter" aria-describedby="basic-addon2">                   
                        <button type="button"><i>search</i> </button>
                    
                </div>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-md-6 border border-primary">
                <p class="text-center">Hello</p>
                <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
            </div>
            <div class="col-md-6 border border-primary">
                <p class="text-center">Hello</p>
                <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
            </div>
        </div>       
    </div>
</div>

<router-outlet></router-outlet>